.footer {
  padding: 1rem 3rem;
  background: rgb(47, 50, 59);
  color: #fff;
}

.footer a {
  text-decoration: none;
}

.footer a i {
  text-decoration: none;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 4rem;
}

.top i {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.top i:hover {
  color: rgba(0, 29, 86, 0.934);
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}

.bottom a,
.bottom span {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}

.footer .line {
  border-top: 1px solid #fff;
  margin-bottom: 1rem;
}

.subFooter {
  padding: 0.5rem 1rem;
  background: rgb(87, 130, 137);
  color: #fff;
}

.copyright {
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer i {
    margin: 1rem 1rem 0 0;
  }
  
  .top i {
    margin: 1rem 0.5rem 0 0; /* Adjusted margin */
  }

  .bottom div {
    width: 50%;
  }
}
